---
pagination:
  data: areas.states
  size: 1
permalink: false
layout: layout.njk "layout.njk"
---
{% set st = pagination.items[0] %}
{% for m in st.metros %}
  {% set permalink = "service-areas/" + st.slug + "/" + m.slug + "/index.html" %}
  {% renderTemplate "njk", permalink %}
    <h1>{{ m.name }}, {{ st.code }}</h1>
    <p>We serve these ZIP codes in {{ m.name }}:</p>
    <div class="card-grid">
      {% for z in m.zips %}<div class="card">{{ z }}</div>{% endfor %}
    </div>
    <h2>Services offered here</h2>
    <ul>
      {% for s in services | filter(attribute="slug", test="in", array=st.services) %}
        <li><a href="/services/{{ s.slug }}/">{{ s.name }}</a></li>
      {% endfor %}
    </ul>
  {% endrenderTemplate %}
{% endfor %}
